/* Overide Mapbox's relative positioning... */

.mapboxgl-map {
    position: absolute;
}

/* Context menu */

.flatmap-contextmenu .mapboxgl-popup-tip {
    display: none;
}

.flatmap-contextmenu {
    padding: 0;
    background: #EEE;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
}

ul.flatmap-contextmenu {
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 120px;
}

li.flatmap-contextmenu-item:hover {
    background: #58E;
}

/* Custom control buttons */

.control-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.control-button svg {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

/* Search box */

#search-control-input {
    line-height: 0;
    font-size: 1.5em;
    width: 240px;
}

/* Feature information */

.info-control .control-button-active,
.info-control .control-button-active:not(:disabled):hover {
    background-color: #80c0ff;
}

#info-control-info {
    text-align: left;
    display: inline-grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
    row-gap: 0.2em;
    width: 240px;
    color: #8300bf;
    font-size: 10pt;
}

.info-name {
    font-weight: bold;
    text-transform: capitalize;
}

.info-control-features {
    width: 600px;
    margin: 0;
    overflow: auto;
    line-height: 1.1em;
}


/* Control buttons */

.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
    background-image: url("images/reset-map.png");
}

/* Tooltips */

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #eee;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #eee;
}
.mapboxgl-popup-content {
    background: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flatmap-feature-label {
    color: #8300bf;
    font-size: 12pt;
}
/* End of file */
