/* Overide Mapbox's relative positioning... */

.mapboxgl-map {
    position: absolute;
}

/* Context menu */

.flatmap-contextmenu .mapboxgl-popup-tip {
    display: none;
}

.flatmap-contextmenu .mapboxgl-popup-content {
    padding: 0;
    background: #EEE;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
}

ul.flatmap-contextmenu {
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 120px;
}

li.flatmap-contextmenu-item:hover {
    background: #58E;
}




    display: inline-block;
}
}
}

/* Tooltips */

.mapboxgl-popup-content {
    padding: 5px;
    background-color: #EEE;
    font-size: 1.2em;
}

/* End of file */
